<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>To Do List Vue.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style media="screen">
        ul li{
            list-style-type: none;
        }
    </style>
</head>

<body>
    <div id='app' class="container">
        <div class='input-group'>
            <input v-model="newItem" v-on:keyup.enter='addItem'
                    placeholder = "add To Do List Items"
                    type="text" class="form-control">
                    <span class="input-group-btn">
                        <button v-on:click='addItem' class="btn btn-default"
                                type="button">Add!
                        </button>
                    </span>
        </div>
        <h2>{{title}}</h2>
        <ul>
            <li v-for="i in items" :key="i.key" v-bind:class="{'removed':i.checked}">
            <div class='checkbox'>
                <label for='input'>
                    <input type="checkbox" v-model="i.checked">{{i.text}}
                </label>
            </div>
            </li>
        </ul>
        <div class='footer'>
            <hr/>
            <p>Change the title of To Do List here</p>
            <input v-model="title"/>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./../vue.js"></script>
    <script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            items:[{text:'apple', checked:true},
                   {text:'banana',checked:false},
                   {text:'pineapple',checked:false}],
            title: 'My Shopping List',
            newItem:'',
        }
        methods: {
          addItem:function () {
              var text;
              text = this.newItem.trim();
              if(text){
                  this.items.push({
                      text:text,
                      checked:false
                  });
                  this.newItem = '';
              }
          }
        }
    });
    </script>
</body>

</html>
