<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="./../vue.js"></script>
        <title>Vue Model</title>
    </head>
    <body>
<div id='app'>
    <textarea v-model="textMess"></textarea>
    <p>{{textMess}}</p>
    <hr/>
    <input type="radio" v-model="message" value="apple">
    <input type="radio" v-model="message" value="pear">
    <input type="checkbox" v-model="boxMess" value="pineapple">
    <input type="checkbox" v-model="boxMess" value="grape">
    <input type="checkbox" v-model="boxMess" value="banana">
    <p>You have selected: {{boxMess}}</p>
    <hr/>
    <input v-model.lazy="message" />
    <p>{{message}}</p>
    <hr/>
    <input v-model="newMessage" />
    <p>{{newMessage}}</p>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data:{
            message:'Initial value. ',
            newMessage: 'This is the new message property.',
            textMess:'This is textarea input....',
            boxMess:[],
        },
    })
</script>
    </body>
</html>
